<!DOCTYPE html><!--[if IE]>  <html class="ie"> <![endif]-->
<html>
	<head>
		<meta charset="utf-8" />
		<title>
		</title>
		<link rel="stylesheet" type="text/css" href="file/style.css" />
	</head>
	<body>
		<div class="stl_02">
			<div class="stl_03">
				<object data="file/img_14.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:140.25em; height:198.5833em;">
					<embed src="file/img_14.svg" type="image/svg+xml" />
				</object>
			</div>
			<div class="stl_view">
				<div class="stl_05 stl_06">
					<div class="stl_01" style="top: 32.1036em; left:73.8776em;z-index:77; "><span class="stl_07 stl_08 stl_09">Attention &nbsp;</span></div>
					<div class="stl_01" style="top: 47.4664em; left:73.8776em;z-index:85; "><span class="stl_07 stl_08 stl_10" style="word-spacing:0.062em;">on tread &nbsp;</span></div>
					<div class="stl_01" style="top: 71.6638em; left:74.1762em;"><span class="stl_11 stl_12 stl_13" style="word-spacing:-0.1518em;">EN HANC ED BY GERMAN TEC H NOLOGY &nbsp;</span></div>
					<div class="stl_01" style="top: 105.8466em; left:9.1536em;"><span class="stl_14 stl_12 stl_15" style="word-spacing:0.0194em;">Aquaplaning due to &nbsp;</span></div>
					<div class="stl_01" style="top: 109.0549em; left:9.1536em;"><span class="stl_14 stl_12 stl_16" style="word-spacing:0.0124em;">insufꢀicient tread depth. &nbsp;</span></div>
					<div class="stl_01" style="top: 109.0549em; left:76.1815em;"><span class="stl_14 stl_12 stl_17" style="word-spacing:0.0198em;">Less isn’t always more:* &nbsp;</span></div>
					<div class="stl_01" style="top: 114.672em; left:9.1475em;"><span class="stl_18 stl_19 stl_20" style="word-spacing:0.0192em;">Aquaplaning occurs when the tyre loses contact with the road &nbsp;</span></div>
					<div class="stl_01" style="top: 116.964em; left:9.1475em;"><span class="stl_18 stl_19 stl_15" style="word-spacing:0.0193em;">in wet driving conditions and starts to float, leading to loss oꢀ &nbsp;</span></div>
					<div class="stl_01" style="top: 119.256em; left:9.1475em;"><span class="stl_18 stl_19 stl_21">control. &nbsp;</span></div>
					<div class="stl_01" style="top: 114.628em; left:76.1815em;"><span class="stl_18 stl_19 stl_22" style="word-spacing:0.0189em;">Iꢀ tyre tread depth is less than 3 mm, the braking distance &nbsp;</span></div>
					<div class="stl_01" style="top: 116.92em; left:76.1815em;"><span class="stl_18 stl_19 stl_23" style="word-spacing:0.0155em;">will be considerably lengthened. &nbsp;</span></div>
					<div class="stl_01" style="top: 125.4835em; left:31.122em;"><span class="stl_24 stl_12 stl_25" style="word-spacing:0.0162em;">Full tread depth &nbsp;</span></div>
					<div class="stl_01" style="top: 127.1764em; left:31.122em;"><span class="stl_26 stl_19 stl_23" style="word-spacing:0.0156em;">Suꢀficient tyre tread &nbsp;</span></div>
					<div class="stl_01" style="top: 129.0577em; left:31.122em;"><span class="stl_24 stl_12 stl_27">&gt;</span></div>
					<div class="stl_01" style="top: 129.0846em; left:32.067em;"><span class="stl_26 stl_19 stl_28" style="word-spacing:0.024em;">Tyre maintains contact with the road &nbsp;</span></div>
					<div class="stl_01" style="top: 129.5769em; left:76.1811em;"><span class="stl_26 stl_19 stl_29" style="word-spacing:0.0221em;">With ꢀull tread depth &nbsp;</span></div>
					<div class="stl_01" style="top: 137.7532em; left:31.122em;"><span class="stl_24 stl_12 stl_27">3</span></div>
					<div class="stl_01" style="top: 137.7532em; left:32.1874em;"><span class="stl_24 stl_12 stl_30" style="word-spacing:0.008em;">mm of tread depth &nbsp;</span></div>
					<div class="stl_01" style="top: 139.4461em; left:31.122em;"><span class="stl_26 stl_19 stl_31" style="word-spacing:0.021em;">Less tyre tread &nbsp;</span></div>
					<div class="stl_01" style="top: 141.3275em; left:31.122em;"><span class="stl_24 stl_12 stl_27">&gt;</span></div>
					<div class="stl_01" style="top: 142.9935em; left:31.122em;"><span class="stl_24 stl_12 stl_27">&gt;</span></div>
					<div class="stl_01" style="top: 141.3544em; left:32.067em;"><span class="stl_26 stl_19 stl_32" style="word-spacing:0.0151em;">Wedge oꢀ water pushes between the tyre and the road &nbsp;</span></div>
					<div class="stl_01" style="top: 143.0204em; left:32.067em;"><span class="stl_26 stl_19 stl_33" style="word-spacing:0.0145em;">Extension oꢀ braking distance &nbsp;</span></div>
					<div class="stl_01" style="top: 142.0039em; left:76.1811em;"><span class="stl_26 stl_19 stl_15" style="word-spacing:0.0193em;">With 3 mm tread depth &nbsp;</span></div>
					<div class="stl_01" style="top: 142.0039em; left:96.2255em;"><span class="stl_26 stl_19 stl_34" style="word-spacing:0.0114em;">Residual speed: 34 km/h &nbsp;</span></div>
					<div class="stl_01" style="top: 143.6699em; left:97.2965em;"><span class="stl_26 stl_19 stl_35" style="word-spacing:0.012em;">ca. 2 vehicle lengths &nbsp;</span></div>
					<div class="stl_01" style="top: 145.3359em; left:96.6859em;"><span class="stl_26 stl_19 stl_36" style="word-spacing:0.0114em;">9.5 m longer braking distance) &nbsp;</span></div>
					<div class="stl_01" style="top: 143.6699em; left:96.2255em;"><span class="stl_26 stl_19 stl_27">+</span></div>
					<div class="stl_01" style="top: 145.3359em; left:96.2255em;"><span class="stl_26 stl_19 stl_27">(</span></div>
					<div class="stl_01" style="top: 149.9054em; left:31.122em;"><span class="stl_24 stl_12 stl_27">1</span></div>
					<div class="stl_01" style="top: 149.9054em; left:31.6887em;"><span class="stl_24 stl_12 stl_37" style="word-spacing:0.0075em;">.6 mm of tread depth (legal minimum) &nbsp;</span></div>
					<div class="stl_01" style="top: 151.5983em; left:31.122em;"><span class="stl_26 stl_19 stl_32" style="word-spacing:0.015em;">Insuꢀficient tyre tread &nbsp;</span></div>
					<div class="stl_01" style="top: 153.4782em; left:31.122em;"><span class="stl_24 stl_12 stl_27">&gt;</span></div>
					<div class="stl_01" style="top: 156.8102em; left:31.122em;"><span class="stl_24 stl_12 stl_27">&gt;</span></div>
					<div class="stl_01" style="top: 153.5051em; left:32.067em;"><span class="stl_26 stl_19 stl_38" style="word-spacing:0.02em;">Wedge oꢀ water under the tyre prevents &nbsp;</span></div>
					<div class="stl_01" style="top: 155.1711em; left:32.067em;"><span class="stl_26 stl_19 stl_39" style="word-spacing:0.0179em;">contact with the road &nbsp;</span></div>
					<div class="stl_01" style="top: 156.8371em; left:32.067em;"><span class="stl_26 stl_19 stl_33" style="word-spacing:0.0143em;">Significant extension oꢀ braking distance &nbsp;</span></div>
					<div class="stl_01" style="top: 155.8235em; left:76.1811em;"><span class="stl_26 stl_19 stl_38" style="word-spacing:0.02em;">With 1.6 mm tread depth &nbsp;</span></div>
					<div class="stl_01" style="top: 157.4895em; left:76.6373em;"><span class="stl_26 stl_19 stl_40" style="word-spacing:0.0145em;">legal minimum) &nbsp;</span></div>
					<div class="stl_01" style="top: 155.8235em; left:96.2255em;"><span class="stl_26 stl_19 stl_41" style="word-spacing:0.0107em;">Residual speed: 44 km/h &nbsp;</span></div>
					<div class="stl_01" style="top: 157.4895em; left:96.2255em;"><span class="stl_26 stl_19 stl_35" style="word-spacing:0.012em;">+ ca. 4 vehicle lengths &nbsp;</span></div>
					<div class="stl_01" style="top: 157.4895em; left:76.1811em;"><span class="stl_26 stl_19 stl_27">(</span></div>
					<div class="stl_01" style="top: 159.1555em; left:96.2255em;"><span class="stl_26 stl_19 stl_27">(</span></div>
					<div class="stl_01" style="top: 159.1555em; left:96.6845em;"><span class="stl_26 stl_19 stl_42" style="word-spacing:0.013em;">18.6 m longer braking distance) &nbsp;</span></div>
					<div class="stl_01" style="top: 165.4877em; left:12.4542em;"><span class="stl_14 stl_12 stl_43" style="word-spacing:0.0187em;">Always stay on track with German technology: Continental recommends a tyre &nbsp;</span></div>
					<div class="stl_01" style="top: 168.696em; left:12.4542em;"><span class="stl_14 stl_12 stl_44" style="word-spacing:0.0169em;">change at 3 mm tread depth for maximum grip on wet roads. &nbsp;</span></div>
					<div class="stl_01" style="top: 186.806em; left:75.5315em;"><span class="stl_45 stl_19 stl_27">*</span></div>
					<div class="stl_01" style="top: 186.806em; left:75.827em;"><span class="stl_45 stl_19 stl_46" style="word-spacing:-0.0084em;">ꢁTest conditions: 205/55 R 16 H, ContiPremiumContact™ 5, wet road, ꢀrom 100 km/h to 0 km/h (Status: March 2015). The graphics shown here are ꢀor &nbsp;</span></div>
					<div class="stl_01" style="top: 187.7225em; left:75.9245em;"><span class="stl_45 stl_19 stl_47" style="word-spacing:-0.0121em;">illustration purposes only. The braking distance oꢀ a vehicle depends on its type, its age, the brakes and the tyres used, as well as the road surꢀace. &nbsp;</span></div>
					<div class="stl_01" style="top: 188.639em; left:75.9245em;"><span class="stl_45 stl_19 stl_48" style="word-spacing:-0.0133em;">(Source: Continental Reiꢀen Deutschland GmbH) &nbsp;</span></div>
					<div class="stl_01" style="top: 187.9366em; left:9.1535em;"><span class="stl_49 stl_19 stl_44">www.continental-tyres.com &nbsp;</span></div>
				</div>
			</div>
		</div>
	</body>
</html>